* {
  box-sizing: border-box;
}
@font-face {
  font-family: HelveticaNeue;
  src: url("./fonts/HelveticaNeue.ttc");
  font-style: normal;
}
body {
  margin: 0;
  font-family: HelveticaNeue;
}

input {
  border: 1.8px solid #8ac0e2;
  outline: none;
  color: #000000;
}

input:focus {
  background: rgba(43, 75, 242, 0.06);
  border: 1.8px solid #6499ff;
  color: #000000;
}

::placeholder {
  color: #00000099;
}

input:focus::placeholder {
  color: #000000;
}

input:hover::placeholder {
  color: #000000;
}

.error {
  border: 1.8px solid #e52f2f;
  color: #e52f2f;
}

.price input::placeholder {
  float: right;
  padding-top: 15px;
}

.price label {
  margin-top: 20px;
}

@media only screen and (min-width: 1300px) {
  .picture-error {
    border: 2px dashed #e52f2f;

    background-color: #fff1f1;
    height: 423px;
    width: 878px;
    left: 174px;
    top: 68px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price label {
    margin-top: 0px;
  }
}

.picture-error-phone {
  border: 2px dashed #e52f2f;

  background-color: #fff1f1;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 250px;
}

.error-hint {
  color: #e52f2f;
}

.error-icon {
  height: 20px;
  width: 22px;
  margin-left: 15px;
}

.price input::placeholder {
  width: 18px;
  height: 21px;
  padding-left: 380px;
}

.bring-down-desktop {
  position: absolute;
  top: 555px;
  left: 1200px;
  width: 187px;
}

@media only screen and (max-width: 1300px) {
  .checked-container {
    margin-top: 30px;
  }
}

/* home page */

.home-page {
  display: block;
  align-content: center;
}

.logo,
.picture,
.button-container {
  display: flex;
  justify-content: center;
}

.logo-picture {
  margin: 67px 139px 0px 139px;
  height: 18px;
  width: 112px;
}

.computer-picture {
  width: 268.58px;
  height: 349px;
  margin-top: 117px;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.btn-add,
.btn-show {
  height: 60px;
  width: 358px;
  border-radius: 8px;
  padding: 18px 60px 18px 60px;
  background-color: #62a1eb;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-add:hover,
.btn-show:hover {
  background-color: #317ad0;
}

.btn-add:focus,
.btn-show:focus {
  background-color: #1a5dab;
}

.btn-add {
  margin-top: 122px;
}

.btn-show {
  margin-top: 16px;
}

@media only screen and (min-width: 1300px) {
  .computer {
    height: 482px;
    width: 781px;
    margin-top: 85px;
  }

  .logo-picture {
    margin-top: 79px;
  }

  .btn-add,
  .btn-show {
    height: 60px;
    width: 387px;
    border-radius: 8px;
    padding: 18px 60px 18px 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .btn-add {
    margin-top: 123px;
  }

  .btn-show {
    margin-top: 26px;
    margin-bottom: 147px;
  }
}

/* add list - collegue info */

.collegue-info {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;

  align-items: center;
  flex-direction: row;
  background-color: #ebebeb;
}

.collegues {
  justify-content: center;
  text-align: center;
  display: block;
  margin: auto;
}

.text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #232323;
}

.pages {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #898989;
}

.arrow-button {
  width: 9.21px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
}
.arrow {
  border: solid #797979;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 3px;
  width: 6px;
  /* margin-left: 5px; */
  text-align: center;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 5px;
}

.form {
  /* width: 980px; */
  height: 100%;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  /* display: flex; */
  justify-content: center;
  padding: 16px;
}

label {
  height: 21px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

input {
  width: 100%;
  height: 60px;
  margin-top: 8px;

  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.dropdown {
  width: 100%;
  height: 60px;
  background: #ebebeb;
  border-radius: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin-top: 52px;
  margin-bottom: 46px;
  padding-left: 10px;
  position: relative;
}

.dropdown .dropdown-content {
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #333;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  border-radius: 8px;
  z-index: 4;
  /* z-index: 1; */
  overflow: scroll;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 7px;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: Raleway;
  font-weight: 500;
  color: #1d1f22;
  font-size: 18px;
  text-align: left;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #e7f0f8;
}

.dropdown-btn {
  display: flex;

  align-items: center;
  justify-content: space-between;
  /* width: 855px; */
}

.dropdown-btn p {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.arrows {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 3px;
  width: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 5px;
}
.form p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;

  margin-top: 5px;
}

p {
  color: #2e2e2e;
}

.next-page,
.save {
  text-align: center;
  width: 132px;
  height: 46px;
  right: 16px;
  background: #62a1eb;
  border-radius: 8px;
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  align-self: flex-end;
  float: right;
}

.next-page:hover,
.save:hover,
upload-file:hover {
  background-color: #317ad0;
}

.next-page:focus,
.save:focus,
upload-file:focus {
  background-color: #1a5dab;
}

@media only screen and (min-width: 1300px) {
  main {
    /* newly added */
    min-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    /* align-content: center; */
  }
  .desktop {
    background-color: #f6f6f6;

    display: flex;
    justify-content: center;
    height: 1327px;
    margin: 0 auto;
  }
  .collegues {
    display: flex;
    justify-content: space-between;
  }

  .text {
    padding: 0px 66px;
  }

  .arrow-button {
    background-color: #d9d9d9;
    width: 53px;
    height: 53px;
    border-radius: 50%;
  }

  .collegue-info {
    height: 500px;
    width: 900px;
    left: 347px;
    top: 157px;
    border-radius: 18px;
  }

  .center {
    margin: auto;
  }

  .form {
    border-radius: 18px;
    height: 973px;
    width: 1226px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  a {
    float: right;
  }

  section {
    width: 878px;
  }

  .desktop-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
    width: 1800px;
  }

  .desktop-form,
  .desktop-list-form {
    display: flex;
    justify-content: space-between;
  }

  .dropdown {
    height: 60px;
    width: 878px;
  }

  .first {
    margin-bottom: 53px;
    margin-top: 0px;
  }

  .desktop-form,
  .desktop-list-form {
    height: 134px;
  }
  .second {
    margin-bottom: 51px;
    margin-top: 53px;
  }

  .name input,
  .surname input {
    height: 60px;
    width: 407px;
    left: 24px;
    top: 37px;
    border-radius: 8px;
  }

  .text-desktop {
    height: 60px;
    width: 878px;
    left: 24px;
    top: 37px;
    border-radius: 8px;
  }

  .mail-validation {
    margin-bottom: 48px;
  }

  .phone-validation {
    margin-bottom: 95px;
  }
}

/* list */

.desktop-list-form {
  z-index: 2;
  background-color: #ebebeb;
}

.form {
  /* z-index: 3; */
  background-color: white;
}

.main-list {
  background-color: #f6f6f6;
}

.dropdown-btn {
  width: 100%;
  margin-right: 10px;
}

.list-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.choose-file-container {
  background: #f7f7f7;
  border: 2px dashed #4386a9;
  border-radius: 8px;
  height: 244px;
  width: 358px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  /* margin: 0px; */
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  /* width: 187px; */
  margin-top: 100px;
  /* z-index: 1; */
  align-self: center;
}

.bring-down {
  position: absolute;
  /* top: 200px; */
  opacity: 1;
  /* opacity: 0; */
  top: 280px;
  /* left: 190px; */
}

.checked-container {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.checked-container .span {
  width: 187px;
  height: 46px;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #62a1eb;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
}

.image-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 122px;
}

.image-information .image-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: HelveticaNeue;
  color: #202020;
}

.image-information .image-size {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: HelveticaNeue;
  color: #5f5f5f;
  margin-left: 15px;
  margin-bottom: 10px;
}

.photo-label {
  color: #4386a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.photo {
  height: 40.5px;
  width: 45px;
  align-items: center;
}

.form-list {
  margin-bottom: 10px;
  /* height: 551px; */
  border-radius: 12px 12px 12px 12px;
}

.dropdown-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dropdown-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #62a1eb;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #4d9ac3;
}

.radio {
  width: 20px;
  height: 20px;
  border: 2px solid #4d9ac3;
}

.radio-container {
  margin-top: 26.5px;
  display: flex;
}

.new label,
.old label,
.ssd label,
.hdd label {
  margin-right: 60px;
  margin-left: 18px;
  width: 33px;
}

.radio-type {
  margin-top: 23px;
}

.radio-type,
.ssd,
.hdd,
.new,
.old {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  margin: 0;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #4d9ac3;
  /* width: 1.15em;
  height: 1.15em; */
  border: 0.15em solid #4d9ac3;
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding: 2px;
}

input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 1em 1em #4d9ac3;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.btn-container {
  margin-top: 83px;
}

.back {
  background-color: transparent;
  border: transparent;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #62a1eb;
}

.footer-logo-container-list {
  margin-top: 56px;
  justify-content: center;
  display: flex;
}

.footer-logo-container {
  margin-top: 67px;
  justify-content: center;
  display: flex;
}

.footer-logo {
  height: 85px;
  width: 85px;

  border-radius: 0px;
}

.phone-size-text {
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4386a9;
  text-align: center;
}

.photo-label img {
  margin-top: 63px;
}

.first-part {
  margin-top: 41px;
}

@media only screen and (min-width: 1300px) {
  .desktop-list-form {
    flex-direction: column;
    height: 1571px;
    width: 1226px;
    border-radius: 18px;
    margin: auto;
    color: #ffffff;
  }

  .main-list-desktop {
    height: 1921px;
    background-color: #f6f6f6;
  }

  .desktop-header {
    padding: 70px 0px 30px 0px;
  }
  .form-list {
    margin-bottom: 0px;
    border-radius: 0px;
    /* width: 878px; */
  }

  .choose-file-container {
    height: 423px;
    width: 878px;
    left: 174px;
    top: 68px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-file {
    height: 60px;
    width: 233px;
    padding: 18px 60px 18px 60px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: transparent;
    color: #ffffff;
    background: #62a1eb;
    border-radius: 8px;
  }

  .span {
    width: 233px;
    height: 60px;
  }

  .image-content {
    display: flex;
    width: 238px;
  }

  .image-name {
    margin-left: 25px;
  }

  .image-size {
    margin-left: 18px;
  }

  .photo-label {
    text-align: center;
  }

  .photo-label p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #4386a9;
    margin-bottom: 65px;
  }

  .first-part {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 83px;
    margin-top: 0px;
  }

  .laptop-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }

  .laptop-name input,
  .laptop-name p {
    margin: 0px;
  }

  .first-dropdown {
    width: 408px;
    height: 60px;
  }

  .hr-one {
    border: 1px solid #c7c7c7;
    width: 878px;
    margin: 0px;
    position: absolute;
    left: 520px;
    /* right: 174px; */
    top: 860px;
    z-index: 3;
  }

  .hr-two {
    border: 1px solid #c7c7c7;
    width: 878px;
    margin: 0px;
    position: absolute;
    left: 520px;
    /* right: 174px; */
    top: 1280px;
    z-index: 4;
  }

  .cpu {
    display: flex;
    flex-direction: column;
  }

  .cpu-info {
    display: flex;
    justify-content: space-between;
    height: 168px;
  }

  .second-dropdown {
    margin-top: 22px;
  }

  .date,
  .price {
    width: 408px;
    height: 60px;
  }

  .cpu-fisrt p,
  .cpu-first input,
  .cpu-second p,
  .cpu-second input {
    margin: 0px;
  }

  .second-dropdown,
  .cpu-first,
  .cpu-second {
    height: 60px;
    width: 277px;
    border-radius: 8px;
  }

  .laptop-info {
    display: flex;
    justify-content: space-between;
  }

  .radio-type {
    display: grid;
    width: 407px;
    height: 60px;
    margin-top: 0px;
    /* flex-direction: column; */
  }

  .radio-container {
    display: flex;
    height: 60px;
    margin-top: 0px;
  }

  .ssd {
    margin-right: 60px;
  }
  .ssd,
  .hdd {
    width: 71px;
  }

  .ssd label,
  .hdd label {
    margin-top: 10px;
  }

  .form-list-second {
    height: 387px;
    padding-top: 5px;
  }

  .third-part {
    height: 473px;
    padding-top: 20px;
  }

  .new label,
  .old label {
    width: 50px;
  }

  .new {
    margin-right: 62px;
  }

  .form-list-first {
    height: 771px;
    padding-top: 68px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .save {
    align-items: center;

    width: 219px;
    height: 60px;

    background: #62a1eb;
    border-radius: 8px;
  }

  .active-text {
    box-shadow: 0 4px 0px -2px #000000;
    width: 263px;
    padding: 5px;
  }
}

/* success */

.success-main,
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success {
  padding-top: 100px;
}

.success-logo {
  height: 257px;
  width: 234px;
}

.success-btn-container {
  display: flex;
  flex-direction: column;
}

.go-back-btn {
  margin-top: 159px;
  margin-bottom: 38px;
  padding: 18px 60px;
  /* gap: 20px; */
  border: transparent;
  width: 297px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #62a1eb;
  border-radius: 8px;
}

.go-back-btn:hover {
  background-color: #317ad0;
}

.go-back-btn:focus {
  background-color: #1a5dab;
}

.main-btn {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #0089a7;
}

.success p {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #292929;
  margin: 0px;
}

@media only screen and (min-width: 1300px) {
  .success-main {
    background-color: #4a4a4a;
    height: 1080px;
  }

  .success {
    background-color: #ffffff;
    width: 847px;
    height: 537px;
    border-radius: 8px;
    padding-top: 0px;
  }

  .go-back-btn {
    margin-top: 79px;
  }

  .success-logo {
    height: 218px;
    width: 137px;
  }
}

/* Laptop list */

.main-laptop-list {
  display: flex;
  flex-direction: column;
}

.laptop-list {
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  padding: 6px;
}

.laptop-list p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #232323;
  /* margin-right: 122px; */
  margin-top: 31px;
  margin-bottom: 33px;
}

.laptop-container {
  align-self: center;
  margin-bottom: 51px;
}

.see-laptop {
  height: 123px;
  background: #eafaff;
  border: 1px solid #aed1ea;
  border-radius: 10px;
  width: 358px;
  margin-bottom: 26px;
}

.see-laptop {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.laptop {
  margin: 7px 16px 7px 7px;
  border-radius: 6px;
  width: 164px;
  height: 109px;
}

.description {
  margin-right: 32px;
}

.description p {
  margin: 0px;
  margin-bottom: 8px;
}

.another-one {
  margin-bottom: 11px;
}

.see-more {
  color: #4386a9;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #4386a9;
  padding: 0px;
}

@media only screen and (min-width: 1300px) {
  .main-laptop-list {
    margin-top: 79px;
  }

  header {
    margin-bottom: 97px;
  }

  .laptop-list p {
    font-weight: 700;
    font-size: 34px;
    line-height: 21px;

    color: #000000;
  }

  .arrow-btn {
    margin-left: 70px;
  }

  .see-laptop {
    margin-bottom: 0px;
    width: 563px;
    height: 205px;
    background: #eafaff;
    border: 1px solid #aed1ea;
    border-radius: 20px;
  }

  .laptop {
    height: 178px;
    width: 266px;
    border-radius: 10px;
  }

  .description p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2e2e2e;
  }

  .another-one {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2e2e2e;
  }

  .laptop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 168px;
  }

  .see-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4386a9;
  }
}

/* each laptop */

.eachlaptop-container {
  margin: auto;
  width: 100vw;
}

.main-laptop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laptop-information {
  align-items: center;
  justify-content: center;
  display: flex;
}

.laptop-information img {
  width: 342px;
  height: 342px;
  margin: 0px 16px 0px 16px;
}

.information {
  display: flex;
  flex-direction: column;
  width: 358px;

  margin-top: 29px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 178%;
  color: #2e2e2e;
}

.details p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #797979;
}

.eachlaptop-hr {
  border: 1px solid #a5a5a5;
  width: 358px;
  /* width: 450px; */
  margin: 23px 0px;
}

@media only screen and (min-width: 1300px) {
  .main-laptop {
    margin-bottom: 99px;
  }

  .eachlaptop-header {
    margin-top: 76px;
    margin-bottom: 84px;
  }
  .information-desktop {
    display: flex;
    flex-direction: row;
    width: 1178px;
  }

  .laptop-information {
    width: 577px;
    height: 342px;
    /* padding-bottom: 150px; */
  }

  .details-desktop {
    width: 577px;
    height: 342px;
  }

  .eachlaptop-hr {
    width: 1178px;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1178px;
  }

  .information-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 515px;
  }

  .information-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 494px;
  }

  .details h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #2e2e2e;
  }

  .details p {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #797979;
  }

  .third-part-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .information-three {
    width: 399px;
  }

  .details-desk {
    width: 368px;
  }
}
