* {
  box-sizing: border-box;
}
@font-face {
  font-family: HelveticaNeue;
  src: url("./fonts/HelveticaNeue.ttc");
}
body {
  margin: 0;
  font-family: HelveticaNeue;
}

input {
  border: 1.8px solid #8ac0e2;
  outline: none;
}

input:focus {
  background: rgba(43, 75, 242, 0.06);
  border: 1.8px solid #6499ff;
  color: #000000;
}

::placeholder {
  color: #00000099;
}

input:focus::placeholder {
  color: #000000;
}

input:hover::placeholder {
  color: #000000;
}

.error {
  border: 1.8px solid #e52f2f;
  color: #e52f2f;
}

.picture-error {
  border-color: #e52f2f;
  background-color: #e52f2f;
}

.error-hint {
  color: #e52f2f;
}

.error-icon {
  height: 20px;
  width: 22px;
  margin-left: 15px;
}

/* if without hint label is #000000 */

/* home page */

.home-page {
  display: block;
  align-content: center;
}

.logo,
.picture,
.button-container {
  display: flex;
  justify-content: center;
}

.logo-picture {
  margin: 67px 139px 0px 139px;
  height: 18px;
  width: 112px;
}

.computer-picture {
  width: 268.58px;
  height: 349px;
  margin-top: 117px;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.btn-add,
.btn-show {
  height: 60px;
  width: 358px;
  border-radius: 8px;
  padding: 18px 60px 18px 60px;
  background-color: #62a1eb;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-add:hover,
.btn-show:hover {
  background-color: #317ad0;
}

.btn-add:focus,
.btn-show:focus {
  background-color: #1a5dab;
}

.btn-add {
  margin-top: 122px;
}

.btn-show {
  margin-top: 16px;
}

/* .computer-picture {
  background: url("../src/images/home-picture.png");
  background-repeat: no-repeat;
  height: 200;
  width: 200;
  background-size: 200px 200px;
} */

@media only screen and (max-width: 1920px) {
  .computer {
    height: 482px;
    width: 781px;
    margin-top: 85px;
  }

  .logo-picture {
    margin-top: 79px;
  }

  .btn-add,
  .btn-show {
    height: 60px;
    width: 387px;
    border-radius: 8px;
    padding: 18px 60px 18px 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .btn-add {
    margin-top: 123px;
  }

  .btn-show {
    margin-top: 26px;
    margin-bottom: 147px;
  }
}

/* add list - collegue info */

.collegue-info {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row;
  background-color: #ebebeb;
}

.collegues {
  justify-content: center;
  text-align: center;
  display: block;
  margin: auto;
}

.text {
  /* font-family: myfont; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #232323;
}

.pages {
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #898989;
}

.arrow-button {
  width: 9.21px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 2px;
}
.arrow {
  border: solid #797979;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 3px;
  width: 6px;
  /* margin-left: 5px; */
  text-align: center;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 5px;
}

.form {
  /* width: 980px; */
  height: 100%;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  /* display: flex; */
  justify-content: center;
  padding: 16px;
}

label {
  width: 358px;
  height: 21px;
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

input {
  width: 100%;
  height: 60px;
  margin-top: 8px;

  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.dropdown {
  width: 100%;
  height: 60px;
  background: #ebebeb;
  border-radius: 8px;
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin-top: 52px;
  margin-bottom: 46px;
  padding-left: 10px;
  position: relative;
}

.dropdown .dropdown-content {
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #333;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  border-radius: 8px;
  z-index: 1;
  overflow: scroll;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 7px;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: Raleway;
  font-weight: 500;
  color: #1d1f22;
  font-size: 18px;
  text-align: left;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #e7f0f8;
}

.dropdown-btn {
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  /* width: 855px; */
}

.dropdown-btn p {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.arrows {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 3px;
  width: 6px;
  /* margin-left: 54rem; */
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 5px;
}
.form p {
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  /* color: #2e2e2e; */
  margin-top: 5px;
}

.next-page,
.save {
  text-align: center;
  width: 132px;
  height: 46px;
  right: 16px;
  background: #62a1eb;
  border-radius: 8px;
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  align-self: flex-end;
  float: right;
}

.next-page:hover,
.save:hover,
upload-file:hover {
  background-color: #317ad0;
}

.next-page:focus,
.save:focus,
upload-file:focus {
  background-color: #1a5dab;
}

@media only screen and (min-width: 1920px) {
  main {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
  }
  .desktop {
    background-color: #f6f6f6;
    /* display: block; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    height: 1327px;
    margin: 0 auto;
  }
  .collegues {
    display: flex;
    justify-content: space-between;
  }

  .text {
    padding: 0px 66px;
  }

  .arrow-button {
    background-color: #d9d9d9;
    width: 53px;
    height: 53px;
    border-radius: 50%;
  }

  .collegue-info {
    height: 500px;
    width: 900px;
    left: 347px;
    top: 157px;
    border-radius: 18px;
  }

  .center {
    margin: auto;
  }
  /* .center {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  } */

  .form {
    border-radius: 18px;
    height: 973px;
    width: 1226px;
    /* padding: 88px 174px 0px 174px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  a {
    float: right;
  }

  section {
    width: 878px;
  }

  .desktop-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
    width: 1800px;
  }

  .desktop-form,
  .desktop-list-form {
    display: flex;
    justify-content: space-between;
  }

  .dropdown {
    height: 60px;
    width: 878px;
  }

  .first {
    margin-bottom: 53px;
    margin-top: 0px;
  }

  .desktop-form,
  .desktop-list-form {
    height: 134px;
  }
  .second {
    margin-bottom: 51px;
    margin-top: 53px;
  }

  .name input,
  .surname input {
    height: 60px;
    width: 407px;
    left: 24px;
    top: 37px;
    border-radius: 8px;
  }

  .text-desktop {
    height: 60px;
    width: 878px;
    left: 24px;
    top: 37px;
    border-radius: 8px;
  }

  .mail-validation {
    margin-bottom: 48px;
  }

  .phone-validation {
    margin-bottom: 95px;
  }

  .next-page {
    position: absolute;
    right: 521px;
  }
}

/* list */

.desktop-list-form {
  z-index: 2;
  background-color: #ebebeb;
}

.form {
  z-index: 3;
  background-color: white;
}

.main-list {
  background-color: #f6f6f6;
}

.dropdown-btn {
  width: 100%;
  margin-right: 10px;
}

.list-form {
  /* height: 100%; */
  align-items: center;
  display: flex;
  flex-direction: column;
  /* display: flex; */
  /* position: absolute; */
  /* bottom: 2rem; */
}

.choose-file-container {
  background: #f7f7f7;
  border: 2px dashed #4386a9;
  border-radius: 8px;
  height: 244px;
  width: 358px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 948px;
  /* margin: 0px; */
}

input[type="file"] {
  /* opacity: 0; */
  position: absolute;
  width: 187px;
  top: 400;
  /* z-index: 1; */
}

.photo-label {
  color: #4386a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.photo {
  height: 40.5px;
  width: 45px;
  align-items: center;
}

.form-list {
  margin-bottom: 10px;
  /* height: 551px; */
  border-radius: 12px 12px 12px 12px;
}

.dropdown-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dropdown-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #62a1eb;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #4d9ac3;
}

.radio {
  width: 20px;
  height: 20px;
  border: 2px solid #4d9ac3;
}

.radio-container {
  margin-top: 26.5px;
  display: flex;
}

.new label,
.old label,
.ssd label,
.hdd label {
  margin-right: 60px;
  margin-left: 18px;
  width: 33px;
}

.radio-type {
  margin-top: 23px;
}

.radio-type,
.ssd,
.hdd,
.new,
.old {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  margin-top: 83px;
}

.back {
  background-color: transparent;
  border: transparent;
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #62a1eb;
}

.footer-logo-container-list {
  margin-top: 56px;
  justify-content: center;
  display: flex;
}

.footer-logo-container {
  margin-top: 67px;
  justify-content: center;
  display: flex;
}

.footer-logo {
  height: 85px;
  width: 85px;

  border-radius: 0px;

  /* position: absolute;
  bottom: 52; */
}

.phone-size-text {
  /* font-family: "myfont"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4386a9;
  text-align: center;
}

.photo-label img {
  margin-top: 63px;
}

@media only screen and (min-width: 1920px) {
  .desktop-list-form {
    flex-direction: column;
    height: 1571px;
    width: 1226px;
    border-radius: 18px;
    margin: auto;
    color: #ffffff;
  }

  .main-list-desktop {
    height: 1921px;
    background-color: #f6f6f6;
  }

  .desktop-header {
    padding: 70px 0px 30px 0px;
  }
  .form-list {
    margin-bottom: 0px;
    border-radius: 0px;
    /* width: 878px; */
  }

  .choose-file-container {
    height: 423px;
    width: 878px;
    left: 174px;
    top: 68px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* input[type="file"] {
    opacity: ;
  } */

  .upload-file {
    height: 60px;
    width: 233px;
    padding: 18px 60px 18px 60px;
    /* font-family: "myfont"; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: transparent;
    color: #ffffff;
    background: #62a1eb;
    border-radius: 8px;
    z-index: 2;
  }

  .photo-label {
    text-align: center;
  }

  .photo-label p {
    /* font-family: "myfont"; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #4386a9;
    margin-bottom: 65px;
  }

  .first-part {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 83px;
  }

  .laptop-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }

  .laptop-name input,
  .laptop-name p {
    margin: 0px;
  }

  .first-dropdown {
    width: 408px;
    height: 60px;
  }

  .hr-one {
    border: 1px solid #c7c7c7;
    width: 878px;
    margin: 0px;
    position: absolute;
    left: 520px;
    /* right: 174px; */
    top: 860px;
    z-index: 3;
  }

  .hr-two {
    border: 1px solid #c7c7c7;
    width: 878px;
    margin: 0px;
    position: absolute;
    left: 520px;
    /* right: 174px; */
    top: 1280px;
    z-index: 4;
  }

  .cpu {
    display: flex;
    flex-direction: column;
  }

  .cpu-info {
    display: flex;
    justify-content: space-between;
    height: 168px;
  }

  .second-dropdown {
    margin-top: 22px;
  }

  .date,
  .price {
    width: 408px;
    height: 60px;
  }

  .cpu-fisrt p,
  .cpu-first input,
  .cpu-second p,
  .cpu-second input {
    margin: 0px;
  }

  .second-dropdown,
  .cpu-first,
  .cpu-second {
    height: 60px;
    width: 277px;
    border-radius: 8px;
  }

  .laptop-info {
    display: flex;
    justify-content: space-between;
  }

  .radio-type {
    display: grid;
    width: 407px;
    height: 60px;
    margin-top: 0px;
    /* flex-direction: column; */
  }

  .radio-container {
    display: flex;
    height: 60px;
    margin-top: 0px;
  }

  .ssd {
    margin-right: 60px;
  }
  .ssd,
  .hdd {
    width: 71px;
  }

  .ssd label,
  .hdd label {
    margin-top: 10px;
  }

  .form-list-second {
    height: 387px;
    padding-top: 5px;
  }

  .third-part {
    height: 473px;
    padding-top: 20px;
  }

  .new label,
  .old label {
    width: 50px;
  }

  .new {
    margin-right: 62px;
  }

  .form-list-first {
    height: 771px;
    padding-top: 68px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .save {
    align-items: center;

    width: 219px;
    height: 60px;

    background: #62a1eb;
    border-radius: 8px;
  }

  .active-text {
    box-shadow: 0 4px 0px -2px #000000;
    width: 263px;
    padding: 5px;
  }
}

/* success */

.success-main,
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .success {
  height: 400px;
} */

.success-logo {
  height: 257px;
  width: 234px;
}

.success-btn-container {
  display: flex;
  flex-direction: column;
}

.go-back-btn {
  margin-top: 159px;
  margin-bottom: 38px;
  padding: 18px 60px;
  /* gap: 20px; */
  border: transparent;
  width: 297px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #62a1eb;
  border-radius: 8px;
}

.go-back-btn:hover {
  background-color: #317ad0;
}

.go-back-btn:focus {
  background-color: #1a5dab;
}

.main-btn {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #0089a7;
}

.success p {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #292929;
  margin: 0px;
}

@media only screen and (min-width: 1920px) {
  .success-main {
    background-color: #4a4a4a;
    height: 1080px;
  }

  .success {
    background-color: #ffffff;
    width: 847px;
    height: 537px;
    border-radius: 8px;
  }

  .go-back-btn {
    margin-top: 79px;
  }

  .success-logo {
    height: 218px;
    width: 137px;
  }
}
